<div class='row'>
  <div class='col-md-3'>
    <p>
      <%= title %>
    </p>
  </div>
  <div class='col-md-9'>
    <p>
      <span class='badge badge-light text-dark'>
        <%= data %>
      </span>
    </p>
  </div>
</div>
