<div class="jumbotron bg-secondary text-white">

<h1 class="display 3 text-center">Add A New Part</h1>

<%= render 'form', part: @part %>

<%= link_to 'Back', dashboard_parts_path, class: "btn btn-danger mt-2" %>

</div>
