<div class='jumbotron bg-secondary text-white'>
  <h1 class="text-center display-3">Editing <%= @program.name%></h1>
</div>
<%= render 'form', program: @program %>
<br />
<%= link_to 'Show', @program, class: "btn btn-danger" %> |
<%= link_to 'Back', :back, class: "btn btn-danger"  %>
