<div class='jumbotron'>
<h1 class="text-center display-3">Editing <%= @program.name%></h1>
</div>

<%= render 'form', program: @program %>

<br \>

<%= link_to 'Show', @program, class: "btn btn-info" %> |
<%= link_to 'Back', programs_path, class: "btn btn-primary"  %>
