<%= render 'user_header', title: "#{@user.name}'s Assigned Work Orders"%>
<%= render 'users_nav_bar', status: 'disabled' %>

<div class="card bg-dark text-white">
  <div class="card-body">
    <%= render 'wo_search_results', requests: @requests %>
  </div>
</div>
<br />
<%= render "results", q: @q, action: :assigned_work_orders %>
