<div class='jumbotron jumbotron-fluid bg-dark text-white rounded shadow-sm'>
  <h1 class='text-center display-2'>
Zero 1 Maintenance
  </h1>
</div>

<div class="nav nav-pills flex-column flex-md-row bg-danger rounded mb-3">  
  <%= link_to "Work Orders Dashboard", dashboard_requests_path, class: "nav-link text-white flex-md-fill text-sm-center mr-1" %>
 
  <%= link_to "Events Dashboard", dashboard_events_path, class: "nav-link text-white flex-md-fill text-sm-center mr-1" %>
 
  <%= link_to "Vehicles Dashboard", vehicles_path, class: "nav-link text-white flex-md-fill text-sm-center mr-1" %>
  
  <%= link_to "Parts Dashboard", dashboard_parts_path, class: "nav-link text-white flex-md-fill text-sm-center" %>
</div>

    <img class='img-fluid rounded' src="https://s3.us-east-2.amazonaws.com/zero1maintphotos/Work+Order+Pictures/Training+Fleet.jpg" id='homepage-image' alt="Main Dashboard Picture" height="570" width="max" />

