<div class="jumbotron bg-dark text-white text-center ">
  <h1 class="display-3">Welcome to Zero 1 Maintenance</h1>
</div>

<div class="container d-flex align-items-center justify-content-between">  
  <%= link_to "Work Orders Dashboard", dashboard_requests_path, class: "btn btn-danger btn-lg"%>
 
  <%= link_to "Events Dashboard", dashboard_events_path, class: "btn btn-danger btn-lg"%>
 
  <%= link_to "Vehicles Dashboard", vehicles_path, class: "btn btn-danger btn-lg"%>
  
  <%= link_to "Parts Dashboard", dashboard_parts_path, class: "btn btn-danger btn-lg"%>
</div>
<br />
<div class="d-flex justify-content-center">
<img src="https://s3.us-east-2.amazonaws.com/zero1maintphotos/Work+Order+Pictures/Training+Fleet.jpg" alt="Main Dashboard Picture" height="425" width="935" />
</div>