<a class="list-group-item bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" href=<%= url  %>>
  <%= title %>
  <span class="badge badge-danger">
    <%= numb %>
  </span>
</a>