<div class="jumbotron bg-secondary text-white text-center">
<h1 class="display-3">All A-Service Requests</h1>
	
<%= render 'service_form', request: @request_results %>
<br />
<%= render 'results', q: @q, action: :a_service %>

</div>