<div class="jumbotron text-center">
<h1 class="display-3">A-Service Requests</h1>
</div>

<%= render 'service_form', request: @a_service%>

<%= link_to 'Back', dashboard_requests_path, class: "btn btn-primary" %>