<div class="jumbotron text-center">
<h1 class="display-3">Air Filter Requests</h1>
</div>

<%= render 'service_form', request: @air_filter_service%>

<%= link_to 'Back', dashboard_requests_path, class: "btn btn-primary" %>