<div class="jumbotron bg-secondary text-white text-center">
<h1 class="display-3">Completed Work Orders</h1>
	
<%= render 'service_form', request: @request_results %>
<br \>
<%= render 'results', q: @q, action: :completed_requests %>

</div>