<div class="jumbotron">
	<h1 class="display-3">Requests Dashboard</h1>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-header">
				<strong>Requests</strong>
			</div>
			<div class="card-body">
				<%= link_to "All Requests", requests_path, class: "btn btn-primary"%>
				<%= link_to "A-Service", a_service_requests_path, class: "btn btn-primary my-2"%>
				<%= link_to "Shock Service", shock_service_requests_path, class: "btn btn-primary"%>
				<%= link_to "Air Filter Service", air_filter_service_requests_path, class: "btn btn-primary my-2"%>
			</div>
		</div>
	</div>
	<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<strong>Most Recent Requests</strong>
				</div>
				<div class="card-body">
				
				</div>
			</div>
		</div>
	
	
	<div class="col-md-3">
			<div class="card">
				<div class="card-header">
					<strong>Options</strong>
				</div>
				<div class="card-body">
				
				</div>
			</div>
		</div>

	
</div>