<div class="jumbotron text-center">
<h2 class="display-3 text-center">New Work Orders</h2>
	
<%= render 'service_form', request: @request_results %>
<br \>
<%= render 'results', q: @q, action: :in_progress %>

</div>