<div class="jumbotron text-center">
<h1 class="display-3">Shock-Service Requests</h1>
</div>

<%= render 'service_form', request: @shock_service%>

<%= link_to 'Back', requests_path, class: "btn btn-primary" %>