<div class="jumbotron bg-secondary text-white">
  <h1 class="display-3">All Tour Car Prep Work Orders</h1>
  <%= render 'wo_search_results', request: @request_results %>
  <br \>
  <%= render 'wo_search_box', q: @q, action: :tour_car_prep %>
</div>