<div class='row border border-danger rounded p-3 bg-secondary mt-3'>
  <div class='col-md-2'>
    <h5>Repair Method:</h5>
  </div>
  <div class='col-md-5'>
    <p>
      <%= defect.repair %>
    </p>
  </div>
  <div class='col-md-2'>
    <h5>
      Repaired By:
    </h5>
  </div>
  <div class='col-md-3'>
    <h5>
      <span class='badge badge-danger'>
        <%= defect.mechanic %>
      </span>
    </h5>
  </div>
</div>
