<div class="jumbotron bg-secondary text-white">
  <h1 class="text-center display-3">All Defects</h1>
</div>
<%= render 'defects_nav_bar', url: defects_path(params.merge(format: "pdf").permit!) %>
<%= render 'defects_table', defects: @defects %>
<br />
<%= paginate @defects%>
<br />
<%= render 'defects_search_box', q: @q, action: :index %>
