<div class="row border border-light bg-secondary text-white rounded p-2 text-lg mb-1 mx-1">
  <div class="col-s-4 col-md-6 col-lg-6">
    <p>
      <h5><%= field %> </h5>
    </p>
  </div>
  <div class='col-s-4 col-md-6 col-lg-6 '>
    <p>
      <h6>
        <% if attribute == "Full" %>
        <span style="color: white; text-size: 10px;">
          <%= attribute %>
          <i class="fa fa-check-square ml-2" aria-hidden="true"></i>
        </span>
        <% elsif attribute == "Checked" %>
        <span style="color: white; text-size: 15px;">
          <%= attribute %>
          <i class="fa fa-check-square ml-2" aria-hidden="true"></i>
        </span>
        <% else %>
        <span class="mr-2 border border-white rounded p-1">
          <%= attribute %>
        </span>
        <% end %>
      </h6>
    </p>
  </div>
</div>