<div class="jumbotron">
	<h3 class="display-5 text-center">Edit Checklist for <%= @checklist.vehicle.car_id%> for Event: &nbsp <%= link_to @checklist.event.id, event_path(@checklist.event.id), class: "badge badge-primary"%> </h3>
	
	<%= render 'checklist_form', checklist: @checklist%>
</div>
