<div class="jumbotron">
	<h3 class="display-5 text-center">New Checklist for <%= @vehicle.car_id %> for Event:&nbsp <%= link_to @event.id, event_path(@event.id), class: "badge badge-primary"%> </h3>
	<%= render 'checklist_form', checklist: @checklist%>
</div>