<strong>
  <%= title %>
</strong>
<div style='text-align: justify'>
  <% if data != 'Blank' %>
    <span class='badge badge-danger'>
      <%= data %>
    </span>
  <% else %>
    No Data
  <% end %>
</div>
