<div class="jumbotron text-center">
<h1 class="display-3">All Vehicles</h1>
	
<%= render 'service_needed_form', vehicle: @vehicle_results %>
<br \>
<%= render 'results', q: @q, action: :all_vehicles %>

</div>