<div class="jumbotron text-center">
<h1 class="display-3">All Vehicles</h1>
	
<%= render 'service_needed_form', vehicle: @vehicle_results %>
<br \>
<%= render 'results', q: @q, action: :all_vehicles %>

</div>
	<div class="container">
	<strong>Download:</strong>
	  <%= link_to "CSV", all_vehicles_vehicles_path(format: "csv"), class: "btn btn-info" %> |
	  <%= link_to "Excel", all_vehicles_vehicles_path(format: "xls"), class: "btn btn-info" %>
  </div>