<div class="jumbotron text-center">
<h1 class="display-3">Vehicles Within 100 Miles of Service</h1>
	
	<%= render 'service_needed_form', vehicle: @vehicle_results %>
	<br \>
	<%= render 'results', q: @q, action: :near_service_required %>


</div>