<div class="jumbotron text-center">
<h1 class="display-3">Needs Service:</h1>
	<%= render 'service_needed_form', vehicle: @vehicle_results %>
	<%= render 'results', q: @q, action: :needs_service %>
</div>

