<h1>Needs Service:</h1>




<h3>A-Service</h3>

<%= render 'report_form', vehicle: @a_service%>

<br \>

<h3>Shock-Service</h3>

<%= render 'report_form', vehicle: @shock_service%>

<br \>

<h3>Air Filter Service</h3>

<%= render 'report_form', vehicle: @air_filter_service%>
