<div class="jumbotron text-center">
<h1 class="display-3">Vehicles Out-of-Service:</h1>
	<%= render 'service_needed_form', vehicle: @vehicle_results %>
	<br \>
	<%= render 'results', q: @q, action: :out_of_service %>
</div>
	<div class="container">
	<strong>Download:</strong>
	  <%= link_to "CSV", out_of_service_vehicles_path(format: "csv"), class: "btn btn-info" %> |
	  <%= link_to "Excel", out_of_service_vehicles_path(format: "xls"), class: "btn btn-info" %>
  </div>