<div class="card">
	<div class="card-header">
<h1 class="text-center"> Out-Of-Service Vehicles </h1>
</div>
<div class="card-body">
<%= render 'report_form', vehicle: @out_of_service %>
</div>
<%= paginate @out_of_service %>
</div>