<div class="jumbotron text-center">
<h1 class="display-3">Vehicles Out-of-Service:</h1>
	<%= render 'service_needed_form', vehicle: @vehicle_results %>
	<%= render 'results', q: @q, action: :out_of_service %>
</div>