@import "bootstrap";
@import "bootstrap/utilities/_text.scss";
@import "bootstrap/mixins/_text-emphasis.scss";
// @import "font-awesome";

#brand-image {
	width: 120px;
	height: 40px;
	display: flex;
	align-items: center;
	margin-right: 5px;
}

#brand-text {
	font-size: 24px;
	font-weight: bold;
	font-family: Impact, Charcoal, sans-serif;
	display: flex;
	align-items: center;
	
}

#email-title {
	margin: auto;
}

.jumbotron {
	margin-top: 12px;
}

body {
  background: lightgrey;
}

#hompage-image {
  border: 0px solid black;
  border-radius: 6px;
}
