/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

@import "font-awesome";

#brand-image {
	background-image: url('Z1_logo_symbol.png');
	background-size: cover;
	background-repeat: no_repeat;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	margin-right: 5px;
}

#brand-text {
	font-size: 24px;
	font-weight: bold;
	font-family: Impact, Charcoal, sans-serif;
	display: flex;
	align-items: center;
	
}

#rzr_email {
	border: 2px solid red;
}

#email-title {
	margin: auto;
}