@import "bootstrap";

@import "font-awesome";

tr { page-break-inside: avoid }

.event_title {
  display: inline;
}

#event_type {
  margin-right: 10px;
  margin-left: 10px;
}

#event_location {
  margin-right: 10px;
}

.page-break {
  display: block;
  clear: both;
  page-break-before: always;
}
