<tr>
  <td>
    <span style="color: purple">
      <i class="fa fa-car" aria-hidden="true">
        No Vehicles Added!
      </i> 
    </span>
  </td>
  <td> 
    <span style="color: purple">
      <i class="fa fa-car" aria-hidden="true">
        No Vehicles Added!
      </i> 
    </span>
  </td>
  <td>
    <span style="color: purple">
      <i class="fa fa-car" aria-hidden="true">
        No Vehicles Added!
      </i> 
    </span>
  </td>
  <td>
    <span style="color: purple">
      <i class="fa fa-car" aria-hidden="true">
        No Vehicles Added!
      </i> 
    </span>
  </td>
</tr>
