<div class="container-fluid d-flex justify-content-between align-items-center my-3">
  <%= link_to 'Reports Dashboard', dashboard_reports_path, class: "btn btn-danger" %>
  <%= link_to 'Generate A Report', generate_report_reports_path, class: 'btn btn-danger' %>
  <%= link_to 'Download PDF', url, class: 'btn btn-danger' %>
  <%= link_to 'Back', :back , class: 'btn btn-danger' %>
</div>
