	<form class="form-inline">
	<%= search_form_for q, :url => {:action => action } do |f|%>
	
	<div class="form-group ml-3">
	<%= f.select :location_id_eq, options_from_collection_for_select(Location.all, "id", "locale", @q.location_id_eq), {include_blank: "Select Location"}, class: "form-control" %>
</div>

<div class="form-group ml-3">
	<%= f.submit "Find Vehicles", class: "btn btn-info"%>
</div>
<% end %>
</form>