<div class='jumbotron bg-secondary text-white mt-3'>
  <h1 class='display-3 text-center'>Generate Reports</h1>
</div>
<div class="row mb-3">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="card bg-secondary text-white">
      <div class="card-body">
        <p>On this page, you can generate real-time reports on select data.</p>
        <p>To create the report, simply click on a link below.</p>
        <p>Each report has a button at the bottom that will allow you to create a PDF of the report and print as necessary.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <strong>Generate Work Order Reports</strong>
    <div class="list-group">
      <a class="list-group-item list-group-item-action" href="../reports/work_order_completed_report">
        Completed Work Orders Report
      </a>
      <a class="list-group-item list-group-item-action" href="../reports/work_order_in_progress_report">
        New & In-Progress Work Orders Report
      </a>
      <a class="list-group-item list-group-item-action" href="../reports/work_order_defects_report">
        Defect Work Orders Report
      </a>	
    </div>
  </div>
  <div class="col-md-4">
    <strong>Generate Checklist Reports</strong>
    <div class="list-group">
      <a class="list-group-item list-group-item-action" href="../reports/checklist_report">Checklist Records Report</a>
    </div>
  </div>
  <div class="col-md-4">
    <strong>Generate Vehicle Reports</strong>
    <div class="list-group">
      <a class="list-group-item list-group-item-action" href="../reports/rzr_report">
        Razor Report
      </a>
      <a class="list-group-item list-group-item-action" href="../reports/tour_car_report">
        Tour Car Report
      </a>
      <a class="list-group-item list-group-item-action" href="../reports/other_vehicles_report">
        Other Vehicles Report
      </a>
    </div>
  </div>
</div>
<div class="my-4">
  <%= link_to "Back", dashboard_reports_path, class: "btn btn-danger"%>
</div>