<div class='jumbotron mt-3'>
	<h1 class='display-3 text-center'>All Weekly Reports</h1>
</div>
	
		<div class="row">
			<div class="col-md-4">
			<strong> All Weekly Defect Work Order Reports </strong>
		<% @weekly_defects.order(created_at: :desc).limit(50).each do |report|%>
			<ul class="list-group">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<%= link_to report.id, report_path(id: report.id), class: "badge badge-dark" %> 
					<span>
					Defect Work Orders	<%= report.created_at.strftime('%D')%>
					</span>
				</li>
			</ul>
			<% end %>
				
		</div>
		
		<div class="col-md-4">
			<strong> All Weekly Razor Reports </strong>
		<% @in_progress.order(created_at: :desc).limit(50).each do |report|%>
			<ul class="list-group">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<%= link_to report.id, report_path(id: report.id), class: "badge badge-dark" %> <span>In-Progress Work Orders <%= report.created_at.strftime('%D')%></span></li>
					 </ul>
					 <% end %>
				</div>
				<div class="col-md-4">
		</div>
		
	</div>